* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: darkblue;
}

.hamburger {
    background: none;
    border: none;
    color: darkblue;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: aquamarine;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .8rem 10px;
    color: black;
}

.navigation a:hover{
    background-color: aliceblue;
}

.navigation li.current {
    background-color: yellow;
}


h1 {
    text-align: center;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}