@media only screen and (min-width: 38rem) {
.navigation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation {
    display: block;
}

.hamburger {
    display: none;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.list section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

}