* {
    margin: 0;
    padding: 0;
}


h1 {
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14213D;
    padding: 0.5rem 1rem;
    color: #fff;
}

.branding {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.branding img {
    width: 24px;
    height: auto;
}

.navigation ul li a {
    text-decoration: none;
    color:#fff;
}

.hamburger {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none; 
}

.navigation.show {
    display: block;
}

.navigation li a:hover {
    text-decoration: underline;
 }

.navigation li.current {
    text-decoration: underline;
 }
 


/* mobile */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }

    .navigation {
        width: 100%;
    }

    
    .navigation ul {
        flex-direction: column;
        gap: 0;
    }

    .navigation ul li {
        text-align: center;
        list-style: none;
        padding: .5rem;
    }
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #14213D;
    text-align: left;
    padding: 1rem 10px;
    color: #fff;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.social a {
    display: flex;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/* Members Cards*/

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    text-align: center;
    padding: 1rem;
    border: solid 1px #ddd;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

/* Grid and List View*/

.menu {
    margin: 0 auto;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
}

.list > * {
    margin: 0 1rem;
}

.list img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bbb;
}

#grid::before {
    content: "\f00a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#list::before {
    content: "\f03a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


