* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 1rem;
}

h2 {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

main {
    padding: 1.5rem;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
}

.hamburger {
    background: none;
    border: none;
    color: rgb(143, 59, 221);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: rgb(231, 208, 253);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: .8rem 10px;
}

.navigation a:hover {
    background-color: peachpuff;
}

.navigation li.current {
    background-color: bisque;
    text-decoration: underline;
}



.cards h2 {
    background-color: bisque;
    padding: 0.5rem;
}

.me-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.me {
    background-color: lightgoldenrodyellow;
    border: solid 1px #eee;
    border-radius: 5px;
}

.me img {
    display: block;
    padding: 1rem;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

.me p {
    padding: 1rem;
}


/* Web Certificate Courses*/

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 1rem;
}

.buttons button {
    padding: 1rem;
    font-weight: bold;
}

.courses {
    display: grid;
    grid-template-columns: 1fr;
}

#certification {
    text-align: center;
}

.cert ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: .5rem;
    border: solid 1px #eee;
    border-radius: 5px;
    font-weight: bold;
}

.cert.completed ul li {
    background-color: rgb(231, 208, 253);
}

.cert.completed li::before {
    content: "\2714\0020";
}

.cert.not-completed ul li {
    background-color: bisque;
}

#credits {
    text-align: center;
    margin: 1rem;
}


/*Footer*/
footer {
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 1rem 10px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}